body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #3882F6;
}

a, a:visited {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    padding-left: 150px;
    padding-right: 150px;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.hero, footer {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-container {
    display: flex;
}

.awesome-container {
    flex: 1;
}

.info-header {
    font-size: 36px;
    font-style: bold;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item {
    max-width: 150px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thor {
    color: black;
    justify-content: flex-end;
    display: flex;
    margin-right: 80px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;
    max-width: 1000px;
}

.hero-secondary, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}