.hero, .footer {
    background-color: #1F2937;
}

.hero, main {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
}

.hero-secondary, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.button, .call-to-action {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-style: bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
}